
.fret-horizontal, .fret-horizontal-open {
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}

.fret-horizontal-open {
    border-left-color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 5px;
}
