
.fretHorizontal, .fretHorizontalOpen, .fretVertical, .fretVerticalOpen {
    border-color: var(--color-text);
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.fretVertical, .fretHorizontal {
    padding: 10px 0;
}

.fretHorizontalOpen {
    border-right-width: 5px;
}

.fretVerticalOpen {
    border-bottom-width: 5px;
}

.fretActive {
    background-color: darkolivegreen;
    color: var(--color-text);
}